/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*
color scheme

black (text) - rgb(0,0,0)
dim grey (div bg) - rgb(210, 210, 210)
grey (div bg) - rgb(190, 190, 190)
dark grey (button) - rgb(170, 170, 170)
*/

/* text styling */
* {
    font-family: 'Roboto', sans-serif;
    color: rgb(0,0,0)
}

/* button styling */
button[type=submit], input[type=submit] {
    background-color: rgb(170, 170, 170);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
    border: none;
    padding: 2px 6px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* text-area styling */
textarea, input {
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
    border: none;
    resize: none; /* gets rid of diagonal lines in bottom-left corner */
}

/* login/register */

#login_div {
    height: 300px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;

    /* margin is half of height/width + padding in order to centre div */
    margin-top: -160px;
    margin-left: -110px;

    padding: 10px;
    background-color: rgb(210, 210, 210);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
}

#error_div {
    width: 200px;

    margin-top: 10px;

    padding: 10px;
    background-color: rgb(210, 210, 210);
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

input[type='submit'] {
    margin-top: 15px;
}

/* notes */

.nav {
    display: flex;
    align-content: baseline;
    text-align: center;
    height: 20px;

    background-color: rgb(210, 210, 210);
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.back {
    width: 20%;
}

.header {
    width: 58%;
}

#username {
    margin: 0;
}

.settings {
    width: 20%;
}

.write {
    background-color: rgb(210, 210, 210);
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    padding: 5px;
}

.category {
    background-color: rgb(210, 210, 210);
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    padding: 5px;
    margin-top: 5px;
    position: relative;
}

.note {
    background-color: rgb(190, 190, 190);
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    padding: 5px;
    margin-top: 5px;
}

.delete_note_button {
    width: 4%;
    padding: 2px;
}

.delete_category_button {
    width: 6%;
    position: absolute;
    top: 10px;
    right: 5px;
}

.container {
    margin-top: 10px;
}

/* settings */

.password, .username {
    background-color: rgb(210, 210, 210);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    border-radius: 2px;

    padding: 5px;
    margin-top: 5px;
}

