<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css') }}" />
    <link rel= "icon" href= "{{ url_for('static', filename='icon.png') }}"/>

    <title>Forgot Password</title>
</head>
<body>

    <div id = "password_div">
        <h4> Enter the email associated with your account below and you will be sent a new password.</h4>

        <form action="/forgot_password" method="POST">

        <h4> Email </h4>
        <input  name="email" autocomplete="off">

        <br>
        <input type="submit" value="Send" class="button"/>
        </form>

        <br>
        <a href="/"><button type="submit">Back</button></a>
    </div>

    {% if email_error %}
    <div id="error_div">
        <h4>No such email exists.</h4>
    </div>
    {% endif %}

</body>
</html>