<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}"/>

    <title>Login</title>
</head>
<body>

    <div id = "login_div">
        <h1>Login</h1>

        <form action="/" method="POST">
        <h4> Name </h4>
        <input name="username" autocomplete="off">

        <h4> Password </h4>
        <input type="password" name="password" autocomplete="off">

        <br>
        <input type="submit" value="Login" class="button"/>
        </form>

        <br>
        <a href="/register">Register</a>

    </div>

    {% if error %}
    <div id="error_div">
        <h4>Your username or password is incorrect.</h4>
    </div>
    {% endif %}

</body>
</html>