<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css') }}" />
    <link rel= "icon" href= "{{ url_for('static', filename='icon.png') }}"/>

    <title>Register</title>
</head>
<body>
    <div id = "register_div">
        <h1>Register</h1>

        <form action="/register" method="POST">
            <h4> Name </h4>
            <input name="username" autocomplete="off">

            <h4> Email </h4>
            <input name="email" autocomplete="off">

            <h4> Password </h4>
            <input type="password" name="password" autocomplete="off">

            <input type="submit" value="Register" class="button">
        </form>
        <br>
        <a href="/"><button type="submit">Back</button></a>
    </div>

    {% if username_error or password_error or email_error or used_email_error%}
    <div id= "error_div">
        {% if username_error %}
        <h4>Your username has been taken.</h4>
        {% endif %}
        {% if password_error %}
        <h4>Passwords should have no spaces, be at least 8 characters long including 1 A-Z character.</h4>
        {% endif %}
        {% if email_error %}
        <h4>Invalid email.</h4>
        {% endif %}
        {% if used_email_error %}
        <h4>Email already used.</h4>
        {% endif %}
    </div>
    {% endif %}

</body>
</html>