<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css') }}" />
    <link rel= "icon" href= "{{ url_for('static', filename='icon.png') }}"/>

    <title>Settings</title>
</head>

<body>
    <div class="nav">
        <div class="back">
            <a href="/notes/{{ username }}"><button type="submit">Back</button></a>
        </div>
        <div class="header">
            <h4 id="username">{{username}}'s Settings</h4>
        </div>
        <div class="settings">
        </div>
    </div>

    <div class="container">
        <div class="password">
            <h3>Change your password</h3>
            <form action="/settings/{{ username }}" method="POST">
            <h4> Old password </h4>
                <input type="password" name="old_password" autocomplete="off">

            <h4> New password </h4>
                <input type="password" name="new_password" autocomplete="off">

            <br>
            <input type="submit" value="Change password" class="button"/>
            </form>

            {% if password_error %}
            <h4> Your old password was incorrect.</h4>
            {% endif %}

            {% if invalid_pass %}
            <h4>Passwords should have no spaces, be at least 8 characters long including 1 A-Z character.</h4>
            {% endif %}
        </div>
    </div>

</body>
</html>